<div class="my-3">
  <h2>Custom observables</h2>
  <br>
  <div class="row">
    <div class="col-md-4">
    <strong>Ex-01 (Manual)</strong>
    <hr>
    <ul class="custom-error">
      <li>Breaking Bad</li>
      <li>Dark</li>
      <li>Sacred games</li>
      <li>Lost in space</li>
    </ul>
  </div>
  <div class="col-md-4">
    <strong>Ex-02 (Custom)</strong>
    <hr>
    <ul class="custom-complete">
      <li>Breaking Bad</li>
      <li>Dark</li>
      <li>Sacred games</li>
      <li>Lost in space</li>
    </ul>
  </div>
  <div class="col-md-12">
    <strong>Random Names</strong>
    <p class="bg-light border rounded"> <strong>Names : </strong>
    'Ajay','Panday','Nikhil','Prashant'
    </p>
    <hr>
    <p>Current Name : <strong class="text-succes">Ajay</strong></p>
    <span class="badge text-bg-success">Success</span>
  </div>
</div>
