<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li class="listA">
        <a routerLink="form-event">Form Event</a>
      </li>
      <hr>
      <li class="listA">
        <a routerLink="interval">Interval</a>
      </li>
      <hr>
      <li class="listA">
        <a routerLink="of-from">Of-From</a>
      </li>
      <hr>
      <li class="listA">
        <a routerLink="to-array">To Array</a>
      </li>
      <hr>
      <li class="listA">
        <a routerLink="Custom">Custom</a>
      </li>
    </ul>
  </div>
</div>
